<ScrollView>
  <StackLayout>
    <Button text="check permissions" (tap)="hasPermissions()"></Button>
    <Button text="get permissions" (tap)="grantPermissions()"></Button>
    <Button text="scan" (tap)="scan()"></Button>
    <Button text="connect" (tap)="connect()"></Button>

    <Button text="^" (tap)="moveFwd()"></Button>
    <Button text="v" (tap)="moveBck()"></Button>
    <Button text="<" (tap)="turnLeft()"></Button>
    <Button text=">" (tap)="turnRight()"></Button>

    <Button text="flash" (tap)="flash()"></Button>
  </StackLayout>
</ScrollView>
